

/* labels next to text fields */
.textFieldLabels {
    -fx-font-family: Georgia,serif;
    -fx-font-size: 13 px;
}


/* error message */
.errorLabel {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-text-fill: red;
}